header { 
    display:grid;
    grid-template: 15vh/ 1fr 1fr 3fr;
}
header img { 
    grid-area: 1 / 1 / 2 / 2;
    max-width: 100%;
    max-height: 100%;
    place-self: stretch;
}
header nav { 
    grid-area: 1 / 3 / 2 / 4;
    place-self: center;
    font-size: 2vw;
}
header a { 
    margin-left: 1vw;
}
#comeFly { 
    background-image: url(../img/mainBackground.jpg);
    width: 90%;
    height: 1000px;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
}
#comeFly h1 {
    position: relative;
    width:fit-content;
    top: 25%;
    margin: 0 auto;
    font-size: 4vw;
    color:rgb(26, 17, 17)
}
#smallGroup { 
    display:grid;
    grid-template: 300px 300px 300px / 1fr 1fr 1fr; 
    grid-template-areas: 
    "first first second"
    "third four five"
    "six seven seven";
}
#smallGroup figcaption {
    position: relative;
    left:45%;
}
#smallGroup img {
    width: 15vw;
    position:relative;
    left: 45%;
}
#first {
grid-area:first;
}
#second {
grid-area: second;
}
#third {
grid-area: third;
}
#four {
grid-area: four;
}
#five { 
grid-area: five;
}
#six {
grid-area: six;
}
#seven {
grid-area: seven;
}